body{
	background: #ccc;
	color: #fff
}
a.sinColor   {
	text-decoration: none;
	color: #FFF;
}
a.sinColor:hover, :after{
	color: #000;
}
.odd{
	background: #fff;
	color: #000;
}
.even{
	background: #ededed;
	color: #000;
}
li {
	display: inline;
}
.container {
	box-shadow: 5px 5px 5px #888;
	border-radius: 5px;
	background: #555;
	padding: 1em;
	margin: 1em;
}
input {
	margin: 0.5em;
}
select{
	margin: 0.5em;
}

th{
	text-align: center;
	max-width: 180px;				
}
.alerta{
	margin: 0.5em;
}
.texto{
	color: #000;
	font-weight: bold;
}
header{
	background-color: #444;
	padding: 0.5em;
	color: invert #444;
	margin: 0;
	font-weight: bold;
}
h1{
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

a.usuario{
	color: #000;
	font-weight: bold;
}
